/*
    Btns
*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 1rem;
    width: 100%;
    border-radius: .3rem;
    background-color: hsl(150, 50%, 20%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        opacity: .9;
    }
}

/* 
    Card
*/
.card {
    display: block;
    background-color: lighten($base-color, 5%);
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 3px 3px 3px darken($base-color, 15%);
    transform: scale(.9);
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1);
    }

    &--no-scale {
        cursor: auto;
        transform: scale(1);
    }

    &__img {
        height: 20rem;
        display: block;
        //border-bottom: .1rem solid rgba($base-color, .8);
    }

    &__body {
        padding: 2rem;
    }

    &__title {
        color: darken($base-color, 30%);
        font-size: 2rem;
        margin: 0 0 .2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &__text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: .5;
        font-weight: 600;
    }

    &__btn {
        margin: 2.5rem 0 0;
        transform: translateY(-5px);
        box-shadow: 0 3px 3px rgba(darken($base-color, 30%), .7);
    
        &:active {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}